In [1]:
#Paired T-test With Python
#When you want to check whether samples are different from same group or not
import numpy as np
import pandas as pd
import scipy.stats as stats

In [2]:
weight1=[25,30,28,35,28,34,26,29,30,26,28,32,31,30,45]
weight2=weight1+stats.norm.rvs(scale=5,loc=-1.25,size=15)

In [3]:
weight1

[25, 30, 28, 35, 28, 34, 26, 29, 30, 26, 28, 32, 31, 30, 45]

In [4]:
weight2

array([19.87606201, 31.28759407, 29.95002146, 33.03001616, 24.20670127,
       36.97511544, 28.37085706, 26.79878532, 29.99365914, 26.68769099,
       20.42565514, 27.70868996, 23.5325502 , 18.17197214, 42.46693262])

In [5]:
weight_df=pd.DataFrame({"weight_10":np.array(weight1),
                         "weight_20":np.array(weight2),
                       "weight_change":np.array(weight2)-np.array(weight1)})

weight_df

    weight_10  weight_20  weight_change
0          25  19.876062      -5.123938
1          30  31.287594       1.287594
2          28  29.950021       1.950021
3          35  33.030016      -1.969984
4          28  24.206701      -3.793299
5          34  36.975115       2.975115
6          26  28.370857       2.370857
7          29  26.798785      -2.201215
8          30  29.993659      -0.006341
9          26  26.687691       0.687691
10         28  20.425655      -7.574345
11         32  27.708690      -4.291310
12         31  23.532550      -7.467450
13         30  18.171972     -11.828028
14         45  42.466933      -2.533067

In [6]:
_,p_value=stats.ttest_rel(a=weight1,b=weight2)
p_value

0.0391518764761536

In [7]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

 we are rejecting null hypothesis

In [ ]:
#we are accepting null hypothesis means yes, there is a statistical difference between both sample of same grp